{% for item in items if not item.viewBag.isHidden %}      
  {% if item.items %}
      <div class="navbar-item  has-dropdown is-hoverable">
          <a
            href="{{ item.url }}"
            class="
              navbar-link
              {{ item.isActive ? 'is-active' : '' }}
              {{ item.isChildActive ? 'is-active' : '' }}
              {{ item.viewBag.cssClass }}"
              {{ item.viewBag.isExternal ? 'target="_blank"' }}>
              {{ item.title }}
          </a>
          <div class="navbar-dropdown is-boxed">{% partial 'nav/items' items=item.items %}</div>
      </div>
  {% else %}
    {% if item.url %}
      <a
        href="{{ item.url }}"
        class="
          navbar-item
          {{ item.isActive ? 'is-active' : '' }}
          {{ item.isChildActive ? 'is-active' : '' }}
          {{ item.viewBag.cssClass }}"
          {{ item.viewBag.isExternal ? 'target="_blank"' }}>
          {{ item.title }}
      </a>
    {% else %}
        <span>{{ item.title }}</span>
    {% endif %}
  {% endif %}
{% endfor %}
