<div class="post-card">
  <a href="{{ 'slug'|page({slug: post.slug}) }}" class="post-card--image">
    {% set screens = [
      ['md', [500, 250]]
    ] %}
    <div>{% partial 'picture' image=post.main_image|media width=400 height=150 screens=screens %}</div>
  </a>
  <div class="w-full">
    <h4 class="post-card--title"><a href="{{ 'slug'|page({slug: post.slug}) }}">{{ post.title }}</a></h4>
    <div class="post-card--subtitle">{{ post.excerpt|md|raw }}</div>
    <div class="post-card--info">{{ post.displayDate|date('M jS, Y') }} • {{ max((post.content|split(' ')|length / 150)|round, 1) }} min read</div>
  </div>
</div>
