<div class="p-8 pt-4">
    <h4 class="text-sm tracking-huge uppercase my-0 py-0">Our Services</h4>
    <div class="grid text-xs whitespace-no-wrap text-primary">
        <div class="w-1/2">
            <ul class="list-reset">
                <li class="py-1">
                    <a href="#">SEO</a>
                </li>
                <li class="py-1">
                    <a href="#">SEM</a>
                </li>
                <li class="py-1">
                    <a href="#">Brand Building</a>
                </li>
            </ul>
        </div>
        <div class="w-1/2">
            <ul class="list-reset">
                <li class="py-1">
                    <a href="#">DevOps</a>
                </li>
                <li class="py-1">
                    <a href="#">Optimization</a>
                </li>
                <li class="py-1">
                    <a href="#">Ad Campaigns</a>
                </li>
            </ul>
        </div>
    </div>
</div>
