<div class="post-link mb-8">
  <a href="{{ 'slug'|page({slug: post.slug}) }}" class="block w-full overflow-hidden bg-primary">
    {% set screens = [
      ['md', [500, 250]]
    ] %}
    <div>{% partial 'picture' image=post.main_image|media width=400 height=150 screens=screens %}</div>
  </a>
  <div class="w-full">
    <h4 class="mt-4 pt-0 mb-0 text-lg hover:text-primary focus:text-primary"><a href="{{ 'slug'|page({slug: post.slug}) }}" class="link-reset focus:text-primary">{{ post.title }}</a></h4>
    <div class="text-sm text-grey-dark -mb-2 -mt-4">{{ post.excerpt|md|raw }}</div>
    <div class="text-sm text-grey-darker">{{ post.displayDate|date('M j') }} • {{ max((post.content|split(' ')|length / 150)|round, 1) }} min read</div>
  </div>
</div>
