<footer class="bg-grey-lightest">
    <section>
        <div class="container">
            {% if this.theme.footer_links %}
                <div class="grid-lg justify-center pb-16 text-center sm:text-left">
                    {% for column in this.theme.footer_links %}
                        <div class="py-4 w-full sm:w-auto">
                            <h4 class="text-sm uppercase my-0 pt-0">{{ column.title }}</h4>
                            <ul class="list-reset text-sm md:text-xs text-primary">
                                {% for link in column.links %}
                                    <li class="py-1 sm:py-0"><a href="{{ link.url }}" {% if link.blank %}target="_blank"{% endif %}>{{ link.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="grid-sm justify-center text-xs">
                <div>&copy;{{ 'now'|date('Y') }} <a href="{{ 'home'|page }}" class="text-white link-reset">{{ this.theme.site_name }}</a> </div>
                <div style="opacity: 0.5">|</div>
                <div>All Rights Reserved</div>
            </div>
        </div>
    </section>
</footer>