<div class="p-8 pb-4" style="width: 300px">
    <h4 class="text-sm tracking-huge uppercase my-0 py-0">Who We Are</h4>
    <div class="grid text-xs whitespace-no-wrap text-primary">
        <div class="w-1/2">
            <ul class="list-reset">
                <li class="py-1">
                    <a href="#">What We Do</a>
                </li>
                <li class="py-1">
                    <a href="#">History</a>
                </li>
                <li class="py-1">
                    <a href="#">Community</a>
                </li>
            </ul>
        </div>
        <div class="w-1/2">
            <ul class="list-reset">
                <li class="py-1">
                    <a href="#">Our Goals</a>
                </li>
                <li class="py-1">
                    <a href="#">Meet Our Team</a>
                </li>
                <li class="py-1">
                    <a href="#">Future Plans</a>
                </li>
            </ul>
        </div>
    </div>
</div>
