<div class="p-8 pb-4" style="width: 280px">
    <h4 class="text-sm tracking-huge uppercase my-0 py-0">Contact Us</h4>
    <div class="text-xs whitespace-no-wrap mb-4">
        <ul class="list-reset text-primary">
            <li class="py-1">
                <a href="#">(555) 555.555</a>
            </li>
            <li class="py-1">
                <a href="#">email@example.tld</a>
            </li>
        </ul>
    </div>
    <a class="btn btn-sm block my-0 text-white whitespace-no-wrap" href="#">Send A Message</a>
</div>
