<section class="border border-grey-lighter">
    <div class="container pt-8">
        <div class="grid text-sm">
            <div class="w-full sm:w-1/2 xl:w-1/4 mb-8">
                <div class="bg-grey-lightest rounded border border-grey-lighter p-6 h-full">
                    <h5 class="text-lg mb-4">Office Locations</h5>
                    <ul class="list-reset">
                        <li>Seminole Chiropractic Center</li>
                        <li>897 E Semoran Blvd.</li>
                        <li>Casselberry, Florida 32707</li>
                    </ul>
                    <a href="https://www.google.com/maps/dir/''/Seminole+Chiropractic+Center+897+E+Semoran+Blvd.+Casselberry,+Florida+32707/data=!4m5!4m4!1m0!1m2!1m1!1s0x88e76e3db1a36e1d:0xd98db1e81023ba64?sa=X&ved=0ahUKEwivwrSxoqzVAhXDYyYKHTvWDp8Q9RcIejAL" target="_blank" class="btn btn-sm block mb-0 w-full">Directions</a>
                </div>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/4 mb-8">
                <div class="bg-grey-lightest rounded border border-grey-lighter p-6 h-full">
                    <h5 class="text-lg mb-4">Give Us a call</h5>
                    <ul class="list-reset">
                        <li>Phone: (407) 478-7246 (PAIN)</li>
                        <li>Phone: (407) 767-8209</li>
                        <li>Fax: (407) 767-5488</li>
                    </ul>
                </div>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/4 mb-8">
                <div class="bg-grey-lightest rounded border border-grey-lighter p-6 h-full">
                    <h5 class="text-lg mb-4">Areas served</h5>
                    <ul class="list-reset">
                        <li>Orlando, Florida</li>
                        <li>Winter Park, Florida</li>
                        <li>Casselberry, Florida</li>
                        <li>Seminole County</li>
                        <li>Osceola County</li>
                    </ul>
                </div>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/4 mb-8">
                <div class="bg-grey-lightest rounded border border-grey-lighter p-6 h-full">
                    <h5 class="text-lg mb-4">Hours of Operation</h5>
                    <ul class="list-reset">
                        <li>Monday - Friday 9:00 - 6:00</li>
                        <li>Saturday By Appointment</li>
                        <li>Closed Sunday</li>
                    </ul>
                    <a href="{{ 'contact'|page }}" class="btn btn-sm block mb-0 w-full">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>