[data-validate-for] {
    // color: #c22929;
    // font-size: .6rem;
    // padding: .1rem 0.2rem;
    // background: white;
    // line-height: 1.2;
    // display: none;
    // margin: -0.8rem 0 .6rem;
    // letter-spacing: .03em;
    // position: absolute;
    // border-radius: .2rem;
    // z-index: 2;
    // box-shadow: 0 2px 3px rgba(0,0,0,.2);
    color: #c22929;
    font-size: 0.65rem;
    padding-left: 0.5rem;
    line-height: 1.2;
    display: none;
    margin: -0.5rem 0 .6rem;
    letter-spacing: .03em;
    &.visible {
        display: block;
    }
}
.alert {
    @apply
        text-xs
        rounded
        m-0
        p-4
        mb-4;
    p,
    h4 {
        @apply m-0;
    }
    button {
        @apply hidden;
    }
    &.alert-success {
        background: #dbf3dd;
        color: #0a714b;
    }
    &.alert-danger {
        background: #ffecec;
        color: #ce0c0c;
    }
}