.map-svg {
    a {
        polygon,
        path {
            fill: config('colors.grey-light');
            transition: all .2s ease;
        }
        &:hover {
            polygon,
            path {
                fill: unquote('@color-primary');
            }
        }
    }
}