.pagination {
    @apply
     list-reset
     justify-center
     text-sm
     flex;
    li {
        @apply px-1;
        &.disabled {
            display: none;
        }
        &.active span {
            font-weight: bold;
            color: unquote('@color-primary');
        }
        span,
        a:not([class]) {
            &:before {
                display: none;
            }
            text-decoration: none;
            @apply
                block
                p-2
                text-grey-dark;
            &:hover {
                color: unquote('@color-primary');
            }
        }
    }
}