html {
    font-size: 14px;
    font-display: auto;
    font-family: unquote('@font-family');
    color: #333333;
}

@screen sm {
    html {
        font-size: 16px;
    }
}

@screen lg {
    html {
        font-size: 18px;
    }
}

body {
    font-size: 1rem;
}

ol:not([class]),
ul:not([class]) {
    padding-left: 1.5rem;
    li {
        padding: .25rem 0;
    }
}

a:visited {
    color: currentColor;
}

@screen sm {
    ol:not([class]),
    ul:not([class]) {
        padding-left: 2rem;
    }
}

p {
    font-size: inherit;
    line-height: 1.85;
    margin: 1.5rem 0;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5 {
    margin-top: 2rem;
}
h1 + h2, h1 + h3, h1 + h4, h1 + h5,
h2 + h2, h2 + h3, h2 + h4, h2 + h5,
h3 + h2, h3 + h3, h3 + h4, h3 + h5,
h4 + h2, h4 + h3, h4 + h4, h4 + h5,
h5 + h2, h5 + h3, h5 + h4, h5 + h5 {
    padding-top: .5rem;
}

h1 {
    font-size: 2rem;
    line-height: 2.75rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.5rem 0;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

h2,h3,h4,h5 {
    @apply pt-8 my-8;
}

@screen xl {
    h1 {
        font-size: 3rem;
        line-height: 3.75rem;
        margin: 1.5rem 0;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 1.5rem 0;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1.5rem 0;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin: 1.5rem 0;
    }
}

.link-reset {
    color: inherit;
    @apply no-underline;
}

ul,
ol {
    font-size: 1rem;
    line-height: 1.65;
}

a[href^="tel:"] {
    white-space: nowrap;
}

a.link-reset,
a:not([class]):visited,
a:not([class]) {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    color: currentColor;
    outline: none !important;
    @apply no-underline;
    transition: background-size .3s ease, color .3s ease;
    &:hover,
    &:focus {
        background-size: 100% 2px;
    }
}

blockquote {
    margin: 1.5rem 0rem;
    padding: .125rem 0rem .125rem 1rem;
    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: unquote('@color-primary');
        opacity: .025;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 2px;
        border-radius: 2px;
        top: 0;
        left: 0;
        background: unquote('@color-primary');
    }
}

@screen sm {
    blockquote {
        margin: 1.5rem -1.5rem;
        padding: .125rem 1.5rem;
    }
}