header {
    a {
        text-decoration: none;
    }
    a:not(nav *) {
        &:before {
            display: none;
        }
    }
    nav {
        a {
            transition: all .2s ease;
            box-shadow: inset 0 0 0 unquote('@color-primary');
            outline: none;
            @apply
                no-underline
                block
                px-6;
            &:focus,
            &:hover {
                @apply text-primary;
                box-shadow: inset 0 -.15rem unquote('@color-primary');
            }
            &.active {
                @apply text-primary;
                box-shadow: inset 0 -.25rem unquote('@color-primary');
            }
        }
    }
}